<div style="display: flex;">
<div class="highlights">
    <div class="cardlayout">
        <img src="/assets/images/GetPaidInstantly.png" class="cardicons">
        <strong>Quick Cash Disbursment</strong>
        <span>Get terms loans that your business needs within 72 hrs</span>
        
    </div>
    <div class="cardlayout">  
        <img src="/assets/images/Low_interest_rate.png" class="cardicons">
        <strong>Low Interest Rate</strong>
        <span>Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
    </div>
    <div class="cardlayout">
        <img src="/assets/images/Secure_Payments.png" class="cardicons">
        <strong>Zero Paperwork</strong>
        <span>Get started instantly by submitting only your basic details & bank statements</span>
    </div>
    <div class="cardlayout">
        <img src="/assets/images/freelancer_feature_icon.png" class="cardicons">
        <strong>Ace your business finances</strong>
        <span>Manage banking, accounting & everything in between, on one platform</span>
    </div>
    <div class="cardlayout">
        <img src="/assets/images/Covid.png" class="cardicons">
        <strong>Loans to fight COVID-19</strong>
        <span>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</span>
    
    </div>
</div>
<div class="open-account">
    <h2>Boost your business with Open</h2>
    <p>Get your hands on a term loan that’s crafted for your business</p>
    <button class="openaccountbtn">Get an Open Account</button>
</div>
</div>
